<form action="{{ url('admin_user_delete', { id: user.id }) }}" method="post" data-confirmation="true" id="delete-form" style="display: inline-block;">
  <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
  <button type="submit" class="btn btn-link">{{ 'action.delete_user'|trans }}</button>
</form>
